.dropdown-header {
  display: flex;
  width: 71%;
  margin-left: 14.5%;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  background-color: #ff6060;
  font-size: 24px;
  font-weight: 500;
}

.Apropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.dropdown-content {
  color: #ff6060;
  width: 70%;
  margin-top: 1%;
  margin-left: 15%;
}
