.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.gallery > * {
  flex: 0 1 calc(33.33% - 62px);
}
