.empty-star {
  display: inline-block;
  width: 1.2em; /* Ajustez la largeur selon vos besoins */
  height: 1.2em; /* Ajustez la hauteur selon vos besoins */
  background-color: #f70000; /* ou toute autre couleur pour les étoiles vides */
}
