@import '../../utils/style/variables';

.logementMain {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
}

.SliderWrapper {
  max-width: 1240px;
  width: 100%;
  aspect-ratio: 248/83; //replace by 3/1 if you hate big numbers
  margin: 0 auto;
}

.logementTitle {
  width: 80%;
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 18px;
  }
  @media (max-width: 700px) {
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 14px;
    }
  }
}

.host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 700px) {
    font-size: 12px;
    width: 25%;
  }
}

.host-picture {
  border-radius: 50%;
  width: 64px;
}

.ratings-host {
  display: flex;
  width: 17%;
  flex-direction: column-reverse;
  align-items: center;
  @media (max-width: 700px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.tags {
  width: 50%;
  display: flex;
  gap: 5%;
}

.tag {
  display: flex;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 10px;
  font-size: 14px;
  align-items: center;
  padding: 2.5px 25px;
  line-height: 20px;
  text-wrap: nowrap;
  text-align: center;
  @media (max-width: 700px) {
    font-size: 10px;
  }
}

.ratings {
  width: 50%;
}

.Description,
.Équipements {
  width: 47%;
}

.menu-Logement {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
