.ErrorBody_ h1 {
  color: #ff6060;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ErrorBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ErrorBody_ a {
  margin-bottom: 10%;
  text-decoration: underline;
}
