@import '../../utils/style/variables';

.ErrorMain h1 {
  color: $primary-color;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ErrorMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ErrorMain a {
  margin-bottom: 10%;
  text-decoration: underline;
  font-size: 18px;
}
