@import '../../utils/style/variables';

.ErrorMain_ h1 {
  color: $primary-color;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ErrorMainy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ErrorMain_ a {
  margin-bottom: 10%;
  text-decoration: underline;
}
